<h1>Lets create meeting</h1>

<form action="/zoomRouter/postMeeting" method="post">
    <label for="className">Class Name:</label><br>
    <input type="text" id="class" name="className"><br>
    
    <input type="date" name="start" placeholder="startdate">
    <input type="date" name="end" placeholder="enddate">

    <input type="submit" value="submit">
  </form>